
  .register-container {
    max-width: 600px;
    background-color: #fff;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  
 .text-header {
    margin: 0 0 10px;
    color: #144b32;
  }
  .text-title {
    color: #48755f;
  }
  .btn-regsiter{
    background-color: #006d38 !important;
    border: 1px solid #006d38 !important;
    font-weight: 600 !important;
  }
  .text-login{
    color: #006d38 !important;
    font-weight: 600;
    cursor: pointer;
  }
  .lable-color {
    color: #48755f !important;
  }
