
  .register-container {
    max-width: 600px;
    background-color: #fff;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
  
 .text-header {
    margin: 0 0 10px;
    color: #144b32;
  }
  .text-title {
    color: #48755f;
  }
  .btn-regsiter{
    background-color: #006d38 !important;
    border: 1px solid #006d38 !important;
    font-weight: 600 !important;
  }
  .text-login{
    color: #006d38 !important;
    font-weight: 600;
  }
  .lable-color {
    color: #48755f !important;
  }
//   .register-box {
//     background-color: white;
//     padding: 30px;
//     border-radius: 8px;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
//     width: 400px;
//   }
  
//   h2 {
//     margin: 0 0 10px;
//     text-align: center;
//   }
  
//   p {
//     text-align: center;
//     color: #666;
//   }
  
//   .form-group {
//     margin-bottom: 15px;
//   }
  
//   .form-group label {
//     font-weight: bold;
//     display: block;
//     margin-bottom: 5px;
//   }
  
//   .form-group input {
//     width: 100%;
//     padding: 10px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//   }
  
//   .error {
//     border-color: red;
//   }
  
//   .error-message {
//     color: red;
//     font-size: 12px;
//   }
  
//   .submit-btn {
//     width: 100%;
//     padding: 10px;
//     background-color: #007bff;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     font-size: 16px;
//     cursor: pointer;
//   }
  
//   .submit-btn:hover {
//     background-color: #0056b3;
//   }
  
//   .login-link {
//     text-align: center;
//     margin-top: 10px;
//   }
  
//   .login-link a {
//     color: #007bff;
//     text-decoration: none;
//   }
  
//   .login-link a:hover {
//     text-decoration: underline;
//   }
  